.container {
  width: 100%;
  height: 100%;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appGrid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 22.375rem);
  grid-gap: 2rem;
  padding: 0rem 2rem;
  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(2, 22.375rem);
  }
  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 22.375rem);
  }
}

.appBox {
  width: 100%;
  height: 100%;
  min-height: 25.625rem;
  box-shadow: 0.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  overflow: hidden;
  transition: 0.15s all ease-in-out;
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  }
}

.appBoxContainer {
  width: 100%;
}

.appBoxHeader {
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & > img {
    max-height: 100% !important;
  }
}

.appBoxBody {
  padding: 1.5rem;
  & h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #000000;
  }
  & p {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: #000000;
  }
  & button {
    margin-top: 1rem;
    width: 100%;
    height: 3.25rem;
    background: #000000;
    border-radius: 0.75rem;
    border: 0.1rem solid #000000;
    outline: none;
    font-weight: 500;
    color: #FFFFFF;
    transition: 0.3s all linear;
    cursor: pointer;
    &:hover {
      background: #F2F3F7;
      color: #000000;
    }
  }
}

.addApp {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  & a {
    width: 100%;
  }
  & button {
    margin-top: 1rem;
    width: 100%;
    height: 3.25rem;
    background: #FFFFFF;
    border-radius: 0.75rem;
    border: 0.1rem solid #FFFFFF;
    outline: none;
    font-weight: 500;
    color: #000000;
    transition: 0.3s all linear;
    cursor: pointer;
    &:hover {
      background: #000000;
      color: #FFFFFF;
    }
  }
}

.addAppImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addHeading {
  margin-top: 2.625rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.113382px;
  color: #FFFFFF;
  margin-bottom: 0rem;
}

.addDescription {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #F5F5FF;
}