.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  margin-top: 10rem;
  @media only screen and (max-width: 1440px) {
    margin-top: 6rem;
  }
}

.headingOne {
  margin: 0;
  margin-top: 2.875rem;
  font-size: 5rem;
  font-weight: 600;
}

.headingTwo {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 5.5rem;
  letter-spacing: -0.083543rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.globe {
  position: fixed;
  bottom: 0;
  max-width: 60%;
  pointer-events: none;
  @media only screen and (max-width: 1640px) {
    max-width: 40%;
  }
}